<div class="spells-container">
  <h1>Hechizos</h1>
  <p>Ver lista de hechizos</p>

  <button class="button" *ngIf="!mostrarTabla" type="button" (click)="accion()">Ver hechizos</button>


  <button class="button" *ngIf="spells.length > 0" type="button" (click)="accion()">Generar nuevos hechizos</button>

 
  <table class="mt-3" *ngIf="spells.length > 0">
    <thead>
      <tr>
        <th>Nombre Hechizo</th>
        <th>Nivel</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of spells">
        <td>{{ s.name }}</td>
        <td>{{ s.level }}</td>
      </tr>
    </tbody>
  </table>

  <p *ngIf="spells.length === 0 && mostrarTabla">No hay hechizos cargados.</p>
</div>


 


 
